h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.3rem;
}

em {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 0.3rem;
  margin-bottom: 0.3em;
  font-family: $head_font;
  font-weight: $head_font_weight;
}

main {
  font-family: $content_font;
}

h2::before, h3::before, h4::before, h5::before, h6::before {
  content: "#";
  color: #55555c;
  left: -0.7em;
  position: absolute;

  @media (prefers-color-scheme: dark) {
    color: #d0f6db;
  }
}