header {
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 999999;
  min-height: 50vh;
  padding: 2em 0rem;
  position: relative;
}
header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background: $headerbgcolor;
}

#logo {
  height: 20vh;
  width: 40vh;
  svg {
    path {
      fill: $logo_fill;
      stroke-width: 1;
    }
  }
}
#title {
  font-size: 5rem;
  margin-top: 1em;
  color: rgb(56, 176, 220);
  font-family: $site_title_font;
  font-weight: $site_title_font_weight;
}

#tagline {
  font-size: 2rem;
  color: rgba(245, 245, 245, 0.8);
  text-align: center;
  font-family: $site_tagline_font;
  font-weight: $site_tagline_font_weight;
}

@keyframes neonify {
  0% {
    text-shadow: 0px 0px 0px mediumspringgreen;
  }
  50% {
    text-shadow: 0px 0px 30px mediumspringgreen;
  }
  100% {
    text-shadow: 0px 0px 0px mediumspringgreen;
  }
}
nav {
  display: flex;
  justify-content: center;

  ul {
    font-family: "Raleway", sans-serif;
    display: flex;
    list-style-type: none;
    li {
      font-size: 1.6rem;
      margin: 1em 0em;
      padding: 0 0.3em;
    }
  }
}
