* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
    font-size: clamp(1rem, calc(0.4444rem + 2.4691vw), 3.5rem);
}
a {
  text-decoration: none;
  color: black;
}

body {
  line-height: 1;
}

table {
  border-collapse: collapse; // Prevent double borders
}
img {
  border: 0;
}
