* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: clamp(12px, 2vw, 24px);
}
a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 120%;
}

body {
  line-height: 1;
  font-size: 100%;
}

ul,
ol {
  list-style: disc;
}

table {
  border-collapse: collapse; // Prevent double borders
}
img {
  border: 0;
}
