* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
    font-size: $root_font_size;
}
a {
  text-decoration: none;
  color: black;
}

body {
  line-height: 1;
}

table {
  border-collapse: collapse; // Prevent double borders
}
img {
  border: 0;
}
