body {
  background-color: $background_light;
  color: $color_light;
  @media (prefers-color-scheme: dark) {
    background-color: $background_dark;
    color: $color_dark;
  }
}

main {
  margin: 0rem clamp(10px, 3rem, 20vw);
}

p {
  margin: 1rem 0rem;
}
pre {
  margin: 0.3rem;
  code {
    font-family: $code_font;
    text-rendering: optimizeLegibility;
  }
}
