// Light Mode Settings Here
$background_light: #E4EEEE;
$color_light: #1C3739;

// Dark Mode Settings here
$background_dark: #1C3739;
$color_dark:#E4EEEE;

$headerbgcolor: rgba(49, 59, 69, 1);


$color1: #E4EEEE;
$color2: #DFA155;
$color3: #649599;
$color4: #1C3739;
$color5: #EC306A;
