@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway:wght@500&display=swap");
@font-face {
  font-family: "Elianto";
  src: url("/assets/fonts/Elianto-Regular.ttf") format("truetype");
}
// Light Mode Settings Here
$background_light: #e4eeee;
$color_light: #1c3739;

// Dark Mode Settings here
$background_dark: #1c3739;
$color_dark: #e4eeee;
// fonts
$head_font: "Fredoka One", cursive;
$head_font_weight: 300;
$content_font: "Raleway", sans-serif;
$content_font_weight: regular;
$code_font: "Cascadia Code", monospace;

// header colors
$headerbgcolor: rgb(35, 48, 70);
$logo_fill: #01df4b;

//vars
$color1: #e4eeee;
$color2: #dfa155;
$color3: #649599;
$color4: #1c3739;
$color5: #ec306a;
